<form action='/users' method='post'/><input type='text' name='nickname' placeholder='Ваш ник'><input type='email' name='email' placeholder='Ваша почта'><input type='password' name='password' placeholder='Пароль'>